body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.leftMenu {
    width: 20%;
    float: left;
    border-right: 1px solid black;
}

.contentWrapper {
    width: 70%;
    float: left;
}

.rightMenu {
    width: 10%;
    float: left;
}

.grid-header-item {
    float: left;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.grid-item-column {
    float: left;
}
